<!-- Data table -->
<script src="/static/vendors/dataTable/jquery.dataTables.min.js"></script>
<script src="/static/vendors/dataTable/dataTables.bootstrap4.min.js"></script>
<script src="/static/vendors/dataTable/dataTables.buttons.min.js"></script>
<!-- <script src="/static/vendors/dataTable/buttons.bootstrap4.min.js"></script> -->
<script src="/static/vendors/dataTable/jszip.min.js"></script>
<script src="/static/vendors/dataTable/pdfmake.min.js"></script>
<script src="/static/vendors/dataTable/vfs_fonts.js"></script>
<script src="/static/vendors/dataTable/buttons.html5.min.js"></script>
<script src="/static/vendors/dataTable/buttons.print.min.js"></script>
<script src="/static/vendors/dataTable/dataTables.responsive.min.js"></script>
<script src="/static/vendors/dataTable/datatable-pipeline.js"></script>
<script src="/static/vendors/dataTable/dataTables.methods.js"></script>
<link rel="stylesheet" href="/static/vendors/jquery-loading-modal/css/jquery.loadingModal.min.css">
<script src="/static/vendors/jquery-loading-modal/js/jquery.loadingModal.min.js"></script>
<!-- <script src="/static/assets/js/examples/datatable.js"></script> -->
<script src="/static/vendors/select2/js/select2.min.js"></script>
<!-- App scripts -->
<script src="/static/assets/js/app.min.js"></script>
<!-- Circle progress -->
<script src="/static/vendors/circle-progress/circle-progress.min.js"></script>
<!-- Datepicker -->
<script src="/static/vendors/datepicker/daterangepicker.js"></script>
<script src="/static/assets/js/examples/datepicker.js"></script>
<script src="/static/assets/js/jquery.validate.min.js"></script>
<script src="/static/assets/js/validation.js"></script>
<!-- Jquery pop-up -->
<script src="/static/vendors/PACE/pace.min.js"></script>
<script src="/static/assets/js/duDialog.js"></script>

<script type="text/javascript" src="/static/vendors/jquery_confirm/jquery-confirm.js" defer></script>

<div class="colors">
    <!-- To use theme colors with Javascript -->
    <div class="bg-primary"></div>
    <div class="bg-primary-bright"></div>
    <div class="bg-secondary"></div>
    <div class="bg-secondary-bright"></div>
    <div class="bg-info"></div>
    <div class="bg-info-bright"></div>
    <div class="bg-success"></div>
    <div class="bg-success-bright"></div>
    <div class="bg-danger"></div>
    <div class="bg-danger-bright"></div>
    <div class="bg-warning"></div>
    <div class="bg-warning-bright"></div>
</div>