<link rel="stylesheet" href="/static/vendors/datepicker/daterangepicker.css">
<!-- App styles -->
<link rel="stylesheet" href="/static/assets/css/app.min.css" type="text/css">
<link rel="stylesheet" href="/static/vendors/select2/css/select2.min.css" type="text/css">
<link rel="stylesheet" href="/static/vendors/tagsinput/bootstrap-tagsinput.css" type="text/css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/css/duDialog.css">
<link media href="/static/vendors/jquery_confirm/jquery-confirm.css" rel="stylesheet" type="text/css"/>
