<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CNPSAdmin Admin | Common Change Password</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/assets/media/image/favicon.png" />
    <!-- Plugin styles -->
    <link rel="stylesheet" href="/static/vendors/bundle.css" type="text/css">
    <!-- App styles -->
    <link rel="stylesheet" href="/static/assets/css/app.min.css" type="text/css">
    <link rel="stylesheet" href="/static/vendors/select2/css/select2.min.css" type="text/css">
    <link rel="stylesheet" href="/static/assets/css/custom.css" type="text/css">
    <link rel="stylesheet" href="/static/resources/css/duDialog.css">
</head>

<body class="form-membership">
    <!-- begin::page loader-->
    <div class="page-loader">
        <div class="spinner-border"></div>
    </div>
     <!-- begin::form submit loader-->
    <div class="form-loader" style="display: none;">
        <div class="spinner-border"></div>
    </div>
    <!-- end::form submit loader -->
    <form id="commonChangePass" action='{{urlfor "CommonChangePassword.Post"}}' method="post" enctype="multipart/form-data">
        <div class="row row-sm commonchangescroll">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="logo logo-common">
                        <img src="/static/assets/media/image/logo.png" alt="image">
                    </div>
                    <h5 class="site-title">Portail Admin Supernet</h5>
                    <div class="card-body">
                        <!--<a href="#"> <h6 onclick="myFunction2()"  id="language" name="language" class="pull-right">French</h6></a>-->
                        <div class="tab-content p-t-0" id="myTabContent">
                            <ul class="list-group list-group-flush">
                                <li class="d-flex align-items-center p-l-r-0">
                                    <div class="col-3">
                                        <h6 class="m-b-0" id="oldPass"></h6>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-4 pull-left">
                                        <input type="password" class="form-control" type="password" placeholder="Enter Old Password" name="input_old_password" maxlength="16" id="input_old_password" oncopy="return false" onpaste="return false" required="" autocomplete="off">
                                    </div>
                                </li>
                                 <span class="changehight"></sapn>
                                <li class="d-flex align-items-center p-l-r-0">
                                    <div class="col-3">
                                        <h6 class="m-b-0" id="newPass"></h6>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-4 pull-left">
                                        <input type="password" autocomplete='off' class="form-control" placeholder="Enter New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="input_new_password" maxlength="16" id="input_new_password" onpaste="return false" required="" autocomplete="off">
                                    </div>
                                </li><br>
                                <li class="d-flex align-items-center p-l-r-0">
                                    <div class="col-3">
                                        <h6 class="m-b-0" id="confirmPass"></h6>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-4 pull-left">
                                        <input type="password" autocomplete='off' class="form-control" placeholder="Enter Confirm Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="input_confirm_password" maxlength="16" id="input_confirm_password" oncopy="return false" onpaste="return false" required="" autocomplete="off">
                                    </div>
                                </li><br>
                                <li class="d-flex align-items-center p-l-r-0">
                                    <div class="col-3">
                                        <h6 class="m-b-0" id="lang"></h6>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-4 pull-left">
                                        <select class="form-control" style="width: 100%;" id="language" name="language">
                                            <option value="French" id="fr"> </option>
                                            <option value="English" id="eng"></option>
                                        </select>
                                    </div>
                                </li>
                            </ul><br>
                            <br>
                            <div id="message">
                                <h4 id="msg">{{.msg}}</h4><br>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label id="letter" class="invalid common"><small>{{.letter}}</small></label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label id="capital" class="invalid common"><small>{{.capital}}</small></label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label id="number" class="invalid common"><small>{{.number}}</small></label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label id="length" class="invalid common"><small>{{.length}}</small></label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label id="special-char" class="invalid common"><small>{{.specialchar}}</small></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <input type="hidden" id="validateStatus" value="0">
                                <button type="submit" id="Submit" class="btn btn-primary"> <span id="submit"> </span> </button>
                            </div>
                        </div>
                        <span class="forgot" style="float: right;"><a href='{{urlfor "Login.Get"}}'><b id="back" class="back"> </b>?</a></span><br><br>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </form>
    <!-- Plugin scripts -->
    <script src="/static/vendors/bundle.js"></script>
    <!-- App scripts -->
    <script src="/static/assets/js/app.min.js"></script>
    <script src="/static/vendors/PACE/pace.min.js"></script>
    <script src="/static/assets/js/duDialog.js"></script>
    <script src="/static/assets/js/jquery.validate.min.js"></script>
    <script src="/static/vendors/select2/js/select2.min.js"></script>
    <script src="/static/assets/js/custom.js"></script>
    <script src="/static/assets/js/validation.js"></script>
    <script>
    $(document).ready(function() {
        var msg = {{.DisplayMessage }};
        var okTextLabel = {{.OKLABEL}};
        var withoutSpace = msg.trim();
        if (msg != '' && withoutSpace != '') {
            new duDialog('', msg, duDialog.DEFAULT, {okText: okTextLabel});
        }
    });
    </script>
</body>

</html>