{{template "themes/adminTemplate.html" .}}
{{define "AdditionalStyles"}}
{{end}}
{{define "BreadCrumb"}}
<div class="header-body-left">
    <h3 class="page-title">{{.ChangePassword}}</h3>
    <!-- begin::breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href='{{urlfor "Dashboard.Get"}}'>{{.Dashboard}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{.ChangePassword}}</li>
        </ol>
    </nav>
    <!-- end::breadcrumb -->
</div>
{{end}}
{{define "LayoutContent"}}
<!-- begin::main content -->
<main class="main-content">
<input type="hidden" id="LogoutUser" value="{{.LogoutCurrentUser}}" data-logout-url='{{urlfor "Logout.Get"}}' style="display: none;">
 {{if and (ne .DisplayMessage "") (ne .DisplayMessage " ")}}
    <div class="alert alert-success alert-with-border alert-dismissible" role="alert">
        <i class="ti-check m-r-10"></i> {{.DisplayMessage}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="ti-close"></i>
        </button>
    </div>
    {{end}}  
    <form class="needs-validation" id="changePass" action='{{urlfor "AdminChangePassword.Post"}}' method="post" enctype="multipart/form-data" autocomplete="off">
        <div class="row row-sm">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="tab-content p-t-30" id="myTabContent">
                            <ul class="list-group list-group-flush">
                                <li class="d-flex align-items-center p-l-r-0">
                                    <div class="col-3">
                                        <h6 class="m-b-0" id="OldPassword">{{.OldPassword}}</h6>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-4 pull-left">
                                        <input type="password" class="form-control" placeholder={{.input_old_password}} name="input_old_password" id="input_old_password" maxlength="16" oncopy="return false" onpaste="return false" required="" autocomplete="off">
                                    </div>
                                </li> 
                                <span class="changehight"></sapn>
                                <li class="d-flex align-items-center p-l-r-0">
                                    <div class="col-3">
                                        <h6 class="m-b-0" id="NewPassword">{{.NewPassword}}</h6>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-4 pull-left">
                                        <input type="password" class="form-control" placeholder={{.input_new_password}} name="input_new_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="input_new_password" maxlength="16" required onpaste="return false" required="" autocomplete="off">
                                    </div>
                                </li><br>
                                <li class="d-flex align-items-center p-l-r-0">
                                    <div class="col-3">
                                        <h6 class="m-b-0" id="ConfirmPassword">{{.ConfirmPassword}}</h6>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-4 pull-left">
                                        <input type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder={{.input_confirm_password}} name="input_confirm_password" id="input_confirm_password" maxlength="16" oncopy="return false" onpaste="return false" required="" autocomplete="off">
                                    </div>
                                </li>
                            </ul><br><br>
                            <div id="message">
                                <h4 id="msg">{{.msg}}</h4><br>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label id="letter" class="invalid"><small>{{.letter}}</small></label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label id="capital" class="invalid"><small>{{.capital}}</small></label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label id="number" class="invalid"><small>{{.number}}</small></label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label id="length" class="invalid"><small>{{.length}}</small></label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label id="special-char" class="invalid"><small>{{.specialchar}}</small></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <input type="hidden" id="validateStatus" value="0">
                                <button type="submit" id="Submit" class="btn btn-primary"> {{.Submit}} </button>
                                <a href='{{urlfor "Dashboard.Get"}}' class="btn btn-warning">{{.filterDataReset}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>
<!-- end::main content -->
{{end}}
{{define "AdditionalScripts"}}
{{template "default/menuPrivilege.html" .}}
{{end}}
