{{template "themes/adminTemplate.html" .}}
{{define "AdditionalStyles"}}
{{end}}
{{define "BreadCrumb"}}
<div class="header-body-left">
    <h3 class="page-title">{{.Channels}}</h3>
    <!-- begin::breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href='{{urlfor "Dashboard.Get"}}'>{{.Dashboard}}</a></li>
            <li class="breadcrumb-item"><a href='{{urlfor "SearchChannel.Get"}}'>{{.SysConfig}}</a></li>
            <li class="breadcrumb-item active"><a href='{{urlfor "SearchChannel.Get"}}'>{{.Channels}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{.View}}</a></li>
        </ol>
    </nav>
    <!-- end::breadcrumb -->
</div>
{{end}}
{{define "LayoutContent"}}
<!-- begin::main content -->
<main class="main-content">
   {{if and (ne .DisplayMessage "") (ne .DisplayMessage " ")}}
    <div class="alert alert-success alert-with-border alert-dismissible" role="alert">
        <i class="ti-check m-r-10"></i> {{.DisplayMessage}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="ti-close"></i>
        </button>
    </div>
    {{end}}  
    <div class="card">
        <div class="card-body">
            <h6 class="card-title">{{.View}}
                <div class="pull-right">
                    <a id="UpdateChannelMenu" class="btn btn-danger dangerbtn-height" href='{{urlfor "UpdateChannel.Get" ":AdminID" .AdminID}}'><i class="fa fa-edit"></i> {{.UpdateChannel}}</a>
                    <a id="backButton" class="btn btn-danger dangerbtn-height" href='{{urlfor "SearchChannel.Get"}}'> {{.Back}}</a>
                </div>
            </h6>
            <hr />
            <form class="needs-validation" id="UpdateChannelMenu" action='{{urlfor "CreateUser.Post"}}' method="post" novalidate="">
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="ChannelNamee">{{.ChannelNamee}}</label>
                        <input type="text" class="form-control" name="channel_name" id="channel_name" value="{{.ChannelName}}" readonly oncopy="return false" onpaste="return false" onkeypress="return blockSpecialCharwithNumber(event)" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="ChannelImagee">{{.ChannelImagee}}</label> <input type="text" class="form-control" name="channel_image" id="channel_image" value="{{.ChannelImage}}" readonly oncopy="return false" onpaste="return false" onkeypress="return blockSpecialCharwithNumber(event)" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label id="GatewayNamee">{{.GatewayNamee}}</label> <input type="text" class="form-control" name="gateway_name" id="gateway_name" value="{{.GatewayName}}" readonly oncopy="return false" onpaste="return false" onkeypress="return blockSpecialCharwithNumber(event)" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="GatewayImagee">{{.GatewayImagee}}</label> <input type="text" class="form-control" name="gateway_image" id="gateway_image" value="{{.GatewayImage}}" readonly />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Descc"> {{.Descc}}</label> <input type="text" class="form-control" name="channel_desc" id="channel_desc" value="{{.ChannelDesc}}" readonly />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="TimeStamp">{{.TimeStamp}}</label> <input type="text" class="form-control" name="channel_time" id="channel_time" value="{{.CreateDate}}" readonly oncopy="return false" onpaste="return false" onkeypress="return blockSpecialCharwithNumber(event)" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="GatewayStatuss">{{.GatewayStatuss}}</label> <input type="text" class="form-control" name="admin_name" id="admin_name" value="{{.GatewayStatus}}" readonly />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="ChannelStatuss">{{.ChannelStatuss}}</label> <input type="text" class="form-control" name="admin_status" id="admin_status" value="{{.ChnnelStatus}}" readonly />
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<!-- end::main content -->
{{end}}
{{define "AdditionalScripts"}}
{{template "default/menuPrivilege.html" .}}
{{end}}