{{template "default/commonCssAndJsMerchant.html".}}
{{define "content"}}
	<div class="wrapper">
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<span style="color: red; font-size: 12px;" id="displayMessage">
					</span>
				<h1 id="ChangePassword"> {{.ChangePassword}} </h1>
				<ol class="breadcrumb">
					<li><a id="dashboard" href="/Dashboard"><i class="fa fa-dashboard"></i>{{.Dashboard}}</a></li>
					<li class="active"><a id="ChangePassword1" href="/Admin/ChangePassword"> {{.ChangePassword}}</a></li>
				</ol>
			</section>

			<!-- Main content -->
			 <form id = "changePass" action="/Merchant/ChangePassword" method="post" enctype="multipart/form-data">
				<section class="content">
					<div class="row">
						<div class="col-md-12">
							<div class="box box-orange effect1">
								<div class="box-header with-border">
                
									<h3 id="ChangePassword" class="box-title">{{.ChangePassword}}</h3>
								</div>
                 <div calss="react" style="background-color:#fff;">
								<div class="box-body">

									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label id="OldPassword" class="control-label">{{.OldPassword}}</label> <input
													type="password" class="form-control"
													placeholder={{.input_old_password}} name="input_old_password"
													id="input_old_password">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label id="NewPassword" class="control-label">{{.NewPassword}}</label> <input
													type="password" class="form-control"  
													placeholder={{.input_new_password}} name="input_new_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
													id="input_new_password" required>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label id="ConfirmPassword" class="control-label">{{.ConfirmPassword}}</label> <input
													type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
													placeholder={{.input_confirm_password}}
													name="input_confirm_password" id="input_confirm_password">
											</div>
										</div>
									</div>
                  <div id="message">
													<h4 id="msg">{{.msg}}</h4><br>
                          <div class="row">
									    	<div class="col-md-2">
											      <div class="form-group">
                              <label id="letter" class="invalid">{{.letter}}</label>
                          </div>
                       </div>
                      <div class="col-md-3">
											      <div class="form-group">
                              <label id="capital" class="invalid">{{.capital}}</label>
                          </div>
                       </div>
                      <div class="col-md-2">
											      <div class="form-group">
                              <label id="number" class="invalid">{{.number}}</label>
                          </div>
                       </div>
                          
									    	<div class="col-md-2">
											      <div class="form-group">
                              <label id="length" class="invalid">{{.length}}</label>
                          </div>
                       </div>
                       <div class="col-md-3">
											      <div class="form-group">
                              <label id="special-char" class="invalid">{{.specialchar}}</label>
                          </div>
                       </div>
                          </div>
                        <!--  
													<p id="letter" class="invalid">
														{{.letter}}
													</p>
													<p id="capital" class="invalid">
														{{.capital}}
													</p>
													<p id="number" class="invalid">
														{{.number}}
													</p>
													<p id="length" class="invalid">
														{{.length}}
													</p>
                         <p id="special-char" class="invalid">
														{{.specialchar}}
													</p>-->
                       </div>
								</div>
								<!-- /.box-body -->

								<div class="form-group">
									<div class="col-sm-12 text-center">
                   <input type="hidden" id="validateStatus" value="0">
										<button onclick="onSubmit()" type="button" class="btn btn-danger" id="Submit">{{.Submit}}</button>
										<a href="/MerchantDashboard"><button type="button" class="btn btn-danger" id="filterDataReset">{{.filterDataReset}}</button></a>
									</div>
								</div>
							</div>
							<!-- /.box -->
           </div>
          </div>
					</div>
				</section>
			</form>
		</div>
		<!-- /.content-wrapper -->
		<div id="footer"></div>

		<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	 
 <script src="../../../static/resources/assets/vendor_components/jquery/dist/jquery.min.js"></script>
 
 <script>
 	 $(document).ready(function(){
    $('#input_new_password').bind("cut copy paste",function(e) {
        e.preventDefault();
    });
    $('#input_confirm_password').bind("cut copy paste",function(e) {
        e.preventDefault();
    });
    $('#input_old_password').bind("cut copy paste",function(e) {
        e.preventDefault();
    });
});
function onSubmit(){
 if($("#validateStatus").val()==1){
   $( "#changePass" ).submit();
  }
}
var myInput = document.getElementById("input_new_password");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");
var specialChar=document.getElementById("special-char");
var validateCheckStatus=document.getElementById("validateStatus");

myInput.onfocus = function() {
  document.getElementById("message").style.display = "block";
}
myInput.onkeyup = function() {
  validateCheckStatus.value=1;
 var lowerCaseLetters = /[a-z]/g;
  if(myInput.value.match(lowerCaseLetters)) {
    letter.classList.remove("invalid");
    letter.classList.add("valid");
  } else {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
     validateCheckStatus.value=0;
  }
   var upperCaseLetters = /[A-Z]/g;
  if(myInput.value.match(upperCaseLetters)) {
    capital.classList.remove("invalid");
    capital.classList.add("valid");
  } else {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
     validateCheckStatus.value=0;
  }

  var specialCharas = /[-!$%^&*()_+|~=`{}[:;<>?,.@#\]]/g;
  if(myInput.value.match(specialCharas)) {
    specialChar.classList.remove("invalid");
    specialChar.classList.add("valid");
  } else {
    specialChar.classList.remove("valid");
    specialChar.classList.add("invalid");
    validateCheckStatus.value=0;
  }
    var numbers = /[0-9]/g;
  if(myInput.value.match(numbers)) {
    number.classList.remove("invalid");
    number.classList.add("valid");
  } else {
    number.classList.remove("valid");
    number.classList.add("invalid");
    validateCheckStatus.value=0;
  }
  if(myInput.value.length >= 6) {
    length.classList.remove("invalid");
    length.classList.add("valid");
  } else {
    length.classList.remove("valid");
    length.classList.add("invalid");
    validateCheckStatus.value=0;
  }
 }
</script>
 {{end}}
